spring:
  datasource:
    url: jdbc:mysql://root:AccaoqJZEzPDIHoLgkzEzREcXFbexbhr@crossover.proxy.rlwy.net:10614/railway
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format-sql: true

logging:
  level:
    org:
      springframework:
        web: INFO
    com:
      pollingapp:
        backend: DEBUG
